* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}

/* --------------------------------
      header section styles
----------------------------------- */
header {
  background-color: rgba(255, 144, 14, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3.125rem;
  padding-bottom: 6.2rem;
  margin-left: 1rem;
}
.logo-color {
  color: #ff900e;
}
.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.navbar ul li {
  margin-right: 3.125rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: #424242;
  font-style: normal;
}

.logo-title {
  font-weight: 700;
  font-size: 2.9rem;
}

.banner {
  text-align: center;
}
.banner-title {
  font-weight: 700;
  font-size: 4.1rem;
  line-height: 4.7rem;
}

.banner p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #727272;
  line-height: 1.6rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.btn1 {
  width: 11.2rem;
  height: 4rem;
  padding: 1.25rem 1.5rem;
  background: #ff900e;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
}

.btn1:hover {
  background: #d67609;
}

.banner-img {
  width: 80%;
  text-align: center;
  border-radius: 8px;
}

.banner-photo {
  margin-top: 3.15rem;
  text-align: center;
}
.nav-btn img {
  width: 30px;
  padding-right: 30px;
  display: none;
}

/* -----------------------------------------
          features section styles
-- ----------------------------------------*/

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 85px;
  column-gap: 60px;
  margin-left: 90px;
  margin-right: 90px;
}

.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.team-img img {
  width: 342px;
  height: 342px;
}

.primary-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
}

.features-info {
  padding-right: 20px;
}
.features-info p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #727272;
  line-height: 1.6rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.quick-word {
  color: #727272;
  font-weight: 500;
}
.features-word {
  color: #ff900e;
}
#quick-mobile {
  display: none;
}

/* ---------------------------------------------
          features container section 
------------------------------------------------ */

.features-container {
  display: flex;
  justify-content: center;
  margin: 0 90px;
  margin-top: 130px;
  justify-items: center;
  gap: 50px;
}

.architect img {
  width: 100%;
  height: 1059px;
}

.features-all-list {
  padding: 5px;
  width: 100%;
}

.features1-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  border-left: 5px solid #ff900e;
  padding: 0 20px;
}
.features-all-list p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #727272;
  line-height: 1.6rem;
  margin-bottom: 21px;
  margin-top: 2rem;
}

.features2 {
  box-sizing: border-box;
  box-shadow: 0.5px 0.5px 8px rgb(228, 221, 221);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.btn2 {
  width: 300px;
  height: 150px;
  padding: 1.25rem 1.5rem;
  background: #ff900e;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  top: -100px;
  left: -60px;
}

.btn-text {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
}

/* -----------------------------
     some-fact-container styles
--------------------------------- */
.some-fact-container {
  margin: 30px 90px;
}

.fact-container {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: space-evenly;
  align-items: center;
}

.fact-info {
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 50px 35px;
  text-align: center;
  align-items: center;
  transition: background-color 0.5s;
}

.fact-info img {
  animation: img 1s ease 1s infinite alternate none;
  position: relative;
  top: -1px;
  animation-play-state: running;
}

.fact-info:hover {
  border: none;
  background-color: #e9c091;
}
@keyframes img {
  form {
  }
  to {
    transform: rotate(20deg);
  }
}

.enjoy {
  animation: enjoy 2s ease 1s infinite alternate none;
  animation-play-state: running;
}

@keyframes enjoy {
  form {
    color: black;
  }

  to {
    color: #ff900e;
  }
}
.some-facts p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #727272;
  line-height: 1.6rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-left: 10px;
}

.fact-info h1 {
  font-weight: 600;
  font-size: 45px;
  color: #424242;
}

/* -----------------------------
     sponsors-container styles
--------------------------------- */
.sponsors-container {
  margin: 30px 90px;
  text-align: center;
  margin-bottom: 200px;
  margin-top: 150px;
}
.sponser-img {
  display: flex;
  justify-content: space-around;
  margin-bottom: 90px;
}
.sponser-img img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

/* -----------------------------
     contact form styles
--------------------------------- */
.form-container {
  margin: 30px 120px;
}
.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ff900e;
  border-radius: 25px;
}
form {
  padding: 25px;
  margin: 100px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #f5f5f5;
  border-radius: 15px;
}
.fas {
  margin: 25px 10px 0;
  font-size: 72px;
  color: #fff;
}
.fa-envelope {
  transform: rotate(-20deg);
  animation: fonts 1s ease-in-out 1s infinite alternate none;
  animation-play-state: running;
}
.fa-at,
.fa-mail-bulk {
  transform: rotate(10deg);
  animation: fonts 1s ease-in-out 1s infinite alternate none;
  animation-play-state: running;
}

@keyframes fonts {
  form {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(-22deg);
  }
}
input,
textarea {
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ff900e;
  width: calc(100% - 18px);
  outline: none;
}
input::placeholder {
  color: #666;
}
button {
  width: 40%;
  padding: 10px;
  border: none;
  background: #ff900e;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border-radius: 20px;
}
button:hover {
  background: #ac5d03;
}

/* -----------------------------
     footer styles
--------------------------------- */

footer {
  margin: 30px 90px;
  background-color: #fff4e7;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #727272;
  line-height: 1.6rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-left: 10px;
}
footer p {
  color: black;
}

/* ----------------------------------------------
         RESPONSIVE ZONE STARTS
------------------------------------------------*/
@media only screen and (max-width: 576px) {
  .navbar ul {
    display: none;
  }
  .logo-title {
    font-weight: bolder;
    font-size: 2rem;
  }
  .banner-title {
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 2.7rem;
  }

  .banner-img {
    width: 90%;
  }
  .banner p {
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 0 20px;
  }
  .nav-btn img {
    display: initial;
  }
  .banner-photo {
    margin-top: 2rem;
  }
  .features {
    grid-template-columns: repeat(1, 1fr);
  }

  .team-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0px;
    margin-bottom: 50px;
  }

  .team-img img {
    width: 250px;
    height: 150px;
    border-radius: 25px;
  }
  .features-info p {
    padding: 0 20px;
  }
  .features-info button {
    text-align: center;
    margin-left: 30px;
  }

  .features-container {
    flex-direction: column;
  }

  .architect img {
    width: 100%;
    height: 400px;
    border-radius: 8;
  }

  .btn2 {
    width: 200px;
    height: 80px;
    font-size: 15px;
    top: 00px;
    left: 0px;
  }

  .btn-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 10px;
  }

  .features1-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    border-left: 5px solid #ff900e;
    padding: 0 20px;
  }
  .features-container {
    margin: 0 10px;
  }

  .features {
    margin: 0 5px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .primary-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 35px;
    padding-left: 10px;
  }
  #quick-pc {
    display: none;
  }
  #quick-mobile {
    display: inherit;
  }

  .some-fact-container {
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .fact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    row-gap: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }
  .fact-info {
    width: 90px;
    height: 125px;
  }
  .fact-info h1 {
    font-size: 32px;
  }
  .fact-info p {
    font-weight: 300;
    font-size: 11px;
    color: #727272;
    line-height: 10px;
    margin-bottom: 2rem;
    margin-top: 5px;
    padding-left: 0px;
  }
  .sponsors-container {
    margin: 10px;

  }

  .sponser-img {
    margin-bottom: 40px;
    margin: 5ps;
  }

  .sponser-img img {
    width: 50px;
  }
  footer {
    margin: 10px;
  }

  .main-block {
    flex-direction: column;
  }
  .left-part,
  form {
    width: 80%;
    border: 1px solid #d67609;
  }
  .fa-envelope {
    margin-top: 0;
    margin-left: 20%;
  }
  .fa-at {
    margin-top: -10%;
    margin-left: 65%;
  }
  .fa-mail-bulk {
    margin-top: 2%;
    margin-left: 28%;
  }
  .form-container {
    margin: 10px;
  }
}

@media (min-width: 568px) {
  .main-block {
    flex-direction: row;
  }
  .left-part,
  form {
    width: 50%;
  }
  .fa-envelope {
    margin-top: 0;
    margin-left: 20%;
  }
  .fa-at {
    margin-top: -10%;
    margin-left: 65%;
  }
  .fa-mail-bulk {
    margin-top: 2%;
    margin-left: 28%;
  }
}

/* --------------------------------------------------------
      LAST FINISHED AT 8.02 PM 15 JANUARY 2023
 /* -------------------------------------------------------*/
